<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjr.spring_swagger.mapper.cluster.DevicesMapper">

    <select id="getAllDevice" resultType="com.wjr.spring_swagger.bean.BaseRoad">
        select * from base_road
    </select>
</mapper>
