<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjr.spring_swagger.mapper.master.DeviceManagementMapper">


    <!--  提取重复sql  -->
    <sql id="header">
        select  province_name, city_name,road_name,
               avg(voltage) as avg_voltage,
               avg(temperature) as avg_temperature,
               avg(humidity) as avg_humidity,
               avg(lighting) as avg_lighting,
               avg(PM2_5) as avg_PM2_5,
               avg(CO_2) as avg_CO_2,
               dt
        from dws_device_management
    </sql>

    <sql id="order">
        group by province_name, city_name,road_name, dt
        order by dt
    </sql>

    <select id="getRoadDeviceValueAvgByName" resultType="com.wjr.spring_swagger.bean.DwsRegionDeviceValue">
        <include refid="header"/>
        where road_name = #{road_name}
        <include refid="order"/>
    </select>

    <select id="getCityDeviceValueAvgByName" resultType="com.wjr.spring_swagger.bean.DwsRegionDeviceValue">
        <include refid="header"/>
        where city_name = #{city_name}
        <include refid="order"/>
    </select>
    <select id="getProvinceDeviceValueAvgByName" resultType="com.wjr.spring_swagger.bean.DwsRegionDeviceValue">
        <include refid="header"/>
        where province_name = #{province_name}
        <include refid="order"/>
    </select>


    <select id="getAllDevice" resultType="com.wjr.spring_swagger.bean.DwsDeviceManagement">
        select * from dws_device_management
    </select>


    <select id="getCityDeviceByName" resultType="com.wjr.spring_swagger.bean.DwsDeviceManagement">
        select * from dws_device_management
        where city_name = #{city_name}
        order by road_id
    </select>
    <select id="getRoadDeviceByName" resultType="com.wjr.spring_swagger.bean.DwsDeviceManagement">
        select * from dws_device_management
        where road_name = #{road_name}
        order by road_id
    </select>
    <select id="getProvinceDeviceByName" resultType="com.wjr.spring_swagger.bean.DwsDeviceManagement">
        select * from dws_device_management
        where province_name = #{province_name}
        order by road_id
    </select>
</mapper>
