<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjr.spring_swagger.mapper.master.DeviceErrorMapper">


    <select id="findAll" resultType="com.wjr.spring_swagger.bean.DwsDeviceManagement">
        select * from dws_error_device_management_view
    </select>

</mapper>
