<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjr.spring_swagger.mapper.master.DeviceManagementMapper">

    <!--  提取重复sql  -->
    <sql id="header">
        select  province_name, city_name,road_name,
               avg(voltage) as voltage,
               avg(temperature) as temperature,
               avg(humidity) as humidity,
               avg(lighting) as lighting,
               avg(PM2_5) as PM2_5,
               avg(CO_2) as CO_2,
               dt
        from dws_normal_device_management_view
    </sql>

    <sql id="order">
        group by province_name, city_name,road_name, dt
        order by dt
    </sql>

    <select id="getRoadDeviceValueAvgByName" resultType="com.wjr.spring_swagger.bean.DwsRegionDeviceValue">
        <include refid="header"/>
        where road_name = #{road_name}
        <include refid="order"/>
    </select>

    <select id="getCityDeviceValueAvgByName" resultType="com.wjr.spring_swagger.bean.DwsRegionDeviceValue">
        <include refid="header"/>
        where city_name = #{city_name}
        <include refid="order"/>
    </select>

    <select id="getProvinceDeviceValueAvgByName" resultType="com.wjr.spring_swagger.bean.DwsRegionDeviceValue">
        <include refid="header"/>
        where province_name = #{province_name}
        <include refid="order"/>
    </select>

    <select id="getDeviceManagements" resultType="com.wjr.spring_swagger.bean.DwsDeviceManagement">
        select * from dws_normal_device_management_view
    </select>

    <select id="getCityDeviceByName" resultType="com.wjr.spring_swagger.bean.DwsDeviceManagement">
        select * from dws_normal_device_management_view
        where city_name = #{city_name}
        order by road_id
    </select>

    <select id="getRoadDeviceByName" resultType="com.wjr.spring_swagger.bean.DwsDeviceManagement">
        select * from dws_normal_device_management_view
        where road_name = #{road_name}
        order by road_id
    </select>

    <select id="getProvinceDeviceByName" resultType="com.wjr.spring_swagger.bean.DwsDeviceManagement">
        select * from dws_normal_device_management_view
        where province_name = #{province_name}
        order by road_id
    </select>

    <select id="getRegionTypeCount" resultType="com.wjr.spring_swagger.bean.AdsRegionTypeCount">
        select province_name,type_id,count(1) as type_count from dws_normal_device_management_view
        group by province_name ,type_id
        having province_name = #{province_name}
    </select>

    <select id="getNationDeviceCount" resultType="java.lang.Long">
        select sum(1) from  (select 1 from dws_normal_device_management_view  group by device_id　);

    </select>


</mapper>
